.progress-bar {
  margin-top: 71px;
  left: 0px;
  height: 17px;
  background: rgb(232, 225, 19);
  transform-origin: 0%;
}

/* .highlighter{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  height: 100vh;
  flex-wrap: wrap;
}

.highlighter__code { 
  flex-basis: calc(50% - 40px);
}

.highlighter__result{
  position: relative;
  width: 100%;
  min-height: 300px;
}

.highlighter__result > button{
  position: absolute; 
  right: 0;
  margin: 10px ;
}

textarea {
  background-color: rgb(227, 229, 231);
  border: none;
  display: block;
}

textarea, pre{
  min-height: 300px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  margin: 10px 0;
}

select {
  width: 250px;
  height: 30px;
  border: 1px solid rgb(196 198 199);
}

textarea:focus {
  outline: none;
} */
